.grid-box {
  :global {
    .am-flexbox {
      height: 60px;
    }
  }
}

.voucher-modal,
.red-packet-modal {
  width: 90%;
}

.voucher-body {

  .voucher {
    position: relative;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #333333;

    .box {
      .main {
        display: flex;

        .logo {
          width: 50px;
          height: 50px;
          flex-shrink: 0;
        }

        .content {
          flex-grow: 1;
          width: 1px;

          .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            font-size: 18px;
          }
        }

        .price-box {
          width: 75px;
          flex-shrink: 0;

          .money {
            color:  red;
            font-size: 30px;

            span {
              font-size: 15px;
            }
          }

          .condition {
            font-size: 12px;
            color: #888888;
          }
        }
      }
      .tip {
        margin-top: 5px;
        padding: 5px 5px 0px;
        border-top: 1px dashed #888888;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}

.red-packet-body {

  .red-packet {
    position: relative;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #333333;

    .box {
      .main {
        .price-box {
          text-align: center;
          
          .money {
            color:  red;
            font-size: 30px;

            span {
              font-size: 15px;
            }
          }

          .condition {
            font-size: 12px;
            color: #888888;
          }
        }
      }
      .tip {
        margin-top: 5px;
        padding: 5px 5px 0px;
        border-top: 1px dashed #888888;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}