<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) { %>
    <link rel="stylesheet" href=".<%= htmlWebpackPlugin.files.css[i] %>"></link>
    <% } %>
</head>
<body>
    <div id='app-container'></div>
    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) { %>
    <script type="text/javascript" src=".<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>
</html>